<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>

<form action="/" method="post">

    <input type="text" name="key">
    <input type="text" name="val">

    <button type="submit">submit</button>
</form>

</body>
</html>