
<%- include("./component/commlib.ejs") %>

<%- include("./component/header.ejs") %>


<div class="columns is-centered ">

    <div class="column is-one-fifth">
        <form action="/login" method="POST">
        <div class="field">
            <label class="label">账号</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input " name="name" type="text" placeholder="Text input" value="<%= title %>">
                <span class="icon is-small is-left">
      <i class="fa fa-user"></i>
    </span>

            </div>

        </div>

        <div class="field">
            <label class="label">密码</label>
            <div class="control">
                <input class="input" name="pwd" type="text" placeholder="Text input">
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" type="submit" id="submitBtn">Submit</button>
            </div>
            <div class="control">
                <button class="button is-text">Cancel</button>
            </div>
        </div>
        </form>

    </div>

</div>



<%- include("./component/footer.ejs") %>

<script src="/js/modules/login.js"></script>


</body>
</html>


