
<!DOCTYPE html>
<html>
<head>
    <title><%= title||"哈哈" %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bulma.min.css">
</head>
<body>